@using Microsoft.AspNet.Identity

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="~/">Trang chủ</a>
        <a class="navbar-brand" href="~/Admin">Trang Admin</a>
    </div>
    <!-- /.navbar-header -->
    @if (Request.IsAuthenticated)
    {
        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    @User.Identity.GetUserName() <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li>
                        <a href='~/Admin/Membership/Profile'>Cài đặt</a>
                    <li class="divider"></li>

                    <li><a href="~/Account/LogOff">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    }

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="#"><i class="fa fa-users fa-fw"></i> Quản lý người dùng<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="~/Admin/Role"><i class="fa fa-key fa-fw"></i> Quyền </a>
                        </li>
                        <li>
                            <a href="~/Admin/Membership"><i class="fa fa-user fa-fw"></i>Người dùng</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-paragraph"></i> Danh mục <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="~/Admin/NhomTieuChi"><i class="fa fa-key fa-list"></i> Nhóm tiêu chí</a>
                        </li>
                        <li>
                            <a href="~/Admin/TieuChi"><i class="fa fa-user fa-list"></i>Tiêu chí</a>
                        </li>

                        <li>
                            <a href="~/Admin/CauTraLoi"><i class="fa fa-user fa-list"></i>Câu trả lời</a>
                        </li>
                        <li>
                            <a href="~/Admin/DonVi"><i class="fa fa-user fa-list"></i>Đơn vị</a>
                        </li>
                        <li>
                            <a href="~/Admin/LinhVuc"><i class="fa fa-user fa-list"></i>Lĩnh vực</a>
                        </li>
                        <li>
                            <a href="~/Admin/ThuTuc"><i class="fa fa-user fa-list"></i>Thủ tục</a>
                        </li>
                        <li>
                            <a href="~/Admin/GopYQuestions"><i class="fa fa-user fa-list"></i>Câu hỏi cho hệ thống</a>
                        </li>
                        <li>
                            <a href="~/Admin/GopYAnswers"><i class="fa fa-user fa-list"></i>Câu trả lời cho hệ thống</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-question-circle fa-fw"></i> Thống kê góp ý<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="~/Admin/ManageFeedback"><i class="fa fa-question-circle fa-fw"></i> Góp ý câu hỏi </a>
                        </li>
                        <li>
                            <a href="~/Admin/SoftwareFeedback"><i class="fa fa-question-circle fa-fw"></i> Góp ý phần mềm </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-question-circle fa-fw"></i> Thống kê<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "ThongKeThanhPho")"><i class="fa fa-question-circle fa-fw"></i> Thống kê thành phố</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThongKeThreeMonth")"><i class="fa fa-question-circle fa-fw"></i> Thống kê 3 tháng</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThongKeDonVi")"><i class="fa fa-question-circle fa-fw"></i> Thống kê đơn vị </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThongKeNhomTieuChi")"><i class="fa fa-question-circle fa-fw"></i> Thống kê nhóm tiêu chí </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-question-circle fa-fw"></i> Thống kê góp ý phần mềm<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "ThongKeNoiDungGopYCauHoi")"><i class="fa fa-question-circle fa-fw"></i> Thống kê góp ý câu hỏi</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThongKeGopYPhanMem")"><i class="fa fa-question-circle fa-fw"></i> Thống kê góp ý phần mềm</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThongKeTyLePhanMem")"><i class="fa fa-question-circle fa-fw"></i> Thống kê tỷ lệ phần mềm</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-question-circle fa-fw"></i> Thống kê số lượt đánh giá<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index","SoLuotDanhGia")"><i class="fa fa-question-circle fa-fw"></i> Số lượt đánh giá </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/Admin/CaiDat"><i class="fa fa-cogs"></i> Cài đặt<span class="fa arrow"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
