@using WebMVC.Entities;
@using System.Collections.Generic;
@using System.Web.Helpers;
@model WebMVC.Entities.DonVi


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/Admin/Content/js/bootstrap-multiselect.js"></script>
<link href="~/Areas/Admin/Content/dist/css/bootstrap-multiselect.css" rel="stylesheet" />

@using (Html.BeginForm("Edit", "DonVi", FormMethod.Post, htmlAttributes: new { @class = "form-add" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DonViID)

    <div class="modal-content">

        <div class="modal-header">
            Cập nhật đơn vị
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-4 float_left text-right clsEven">Mã đơn vị</label>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.MaDonVi, new { @class = "form-control required", id = "MaDonVi", placeholder = "Mã đơn vị..." })
                        @Html.ValidationMessageFor(m => m.MaDonVi)
                    </div>
                </div>
                <br />
                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="control-label col-xs-4 float_left text-right clsOdd">Tên đơn vị</label>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.TenDonVi, new { @class = "form-control required", id = "TenDonVi", placeholder = "Tên đơn vị..." })
                        @Html.ValidationMessageFor(m => m.TenDonVi)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 float_left text-right clsEven">Mô tả</label>
                    <div class="col-xs-8 heightrow">
                        @Html.TextAreaFor(m => m.MoTa, new { @class = "form-control", id = "MoTa", placeholder = "Mô tả..." })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 float_left text-right clsEven">Loại đơn vị</label>
                    <div class="col-xs-8">
                        <select name="ParentDonViID" id="ParentDonViID">
                            <option value="">--- Chọn loại đơn vị ---</option>
                            @foreach (var item in (List<DonVi>)ViewBag.LoaiDonVi)
                            {
                                if (item.DonViID == Model.ParentDonViID)
                                {
                                    <option value="@item.DonViID" selected>@item.TenDonVi</option>}
                                else
                                {
                                    <option value="@item.DonViID">@item.TenDonVi</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </form>

            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
            <button type="submit" class="btn btn-primary" id="submitButton">Lưu</button>
        </div>
    </div>
}
