@using WebMVC.Entities;
@{
    ViewBag.Title = "Thống Kê Số Lượt Đánh Giá";
    List<ThongKe> lst = new List<ThongKe>();
    List<ThongKe> lstResult = new List<ThongKe>();
    if (ViewBag.Result != null)
    {
        lstResult = ViewBag.Result as List<ThongKe>;
    }
}

<h3>Thống kê số lượt đánh giá</h3>
<style>
    /* bootstrap hack:fix content width inside hidden tabs */
    .tab-content > .tab-pane:not(.active),
    .pill-content > .pill-pane:not(.active) {
        display: block;
        height: 0;
        overflow-y: hidden;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .panel {
        box-shadow: none;
    }
    /* bootstrap hack end */
</style>

@using (Html.BeginForm("Index", "SoLuotDanhGia"))
{
    <div class="row">
        <div class="col-md-2">
            <p class="text-right">Ngày bắt đầu:</p>
        </div>
        <div class="col-md-2">
            <input id="tuNgay" name="tuNgay" type="text" value="@ViewBag.TuNgay" placeholder="Chọn ngày bắt đầu" class="form-control">
        </div>
        <div class="col-md-2"><p class="text-right">Ngày kết thúc:</p></div>
        <div class="col-md-2"><input id="denNgay" name="denNgay" type="text" value="@ViewBag.DenNgay" placeholder="Chọn ngày kết thúc" class="form-control"></div>
        <div class="col-md-1"><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Xem</button></div>
    </div>
}
<br />
<table class="table table-hover table-striped">
    <tr>
        <th style="width:5%">STT</th>
        <th style="width:45%">Đơn vị</th>
        <th style="width:40%">Số lượt</th>
    </tr>

    @for (int i = 0; i < lstResult.Count(); i++)
    {
        lst = new List<ThongKe>();
        var item = lstResult[i];
        var clr = "beige";
        if (i % 2 == 0)
        { clr = "aliceblue"; }
        <tr style="cursor: pointer; background-color: @clr">
            <td>@(i + 1)</td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonVi)
            </td>
            <td style="text-align:left ">
                <a href="@Url.Action("ThongKeSoLuotDanhGiaDonVi", "SoLuotDanhGia")?tuNgay=@ViewBag.TuNgay&denNgay=@ViewBag.DenNgay&madonvi=@item.MaDonVi&malienthong=@item.MaLienThong">@item.SoBienNhan</a>
            </td>
        </tr>
    }
    @if (lstResult.Count() > 0)
    {
        <tr style="cursor: pointer; background-color: #2196f3">
            <td></td>
            <td>
                Tổng cộng
            </td>
            <td style="text-align:left ">
                @lstResult.Sum(x => int.Parse(x.SoBienNhan)).ToString("N0")
            </td>
        </tr>
    }
    @if (lstResult.Count() == 0)
    {
        <tr class="parent" data-level="0" style="cursor: pointer; background-color: aliceblue">
            <td colspan="3">Không có dữ liệu</td>
        </tr>
    }
</table>
@section scripts{
    <script src="~/Scripts/highcharts.js"></script>
    <script>
        $('#tuNgay').datepicker({
            dateFormat: "dd/mm/yy", // Notice the Extra space at the beginning
        });
        $('#denNgay').datepicker(
        {
            dateFormat: "dd/mm/yy", // Notice the Extra space at the beginning
        });
    </script>
}