@using CBCC.Models.GopY;
@model List<GopYHTViewModel>
@{
    ViewBag.Title = "Góp ý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
}
<form name="GopY" id="GopYForm" class="form-add">
    <div class="col-md-12 col-sm-12 col-xs-12 " id="input_SoBienNhan_content">
	
        <div class="col-sm-10 col-lg-8  col-lg-offset-2 col-md-offset-1 form-group" id="inputdanhgia">
            <div class="text-left" style="background-color: #c5e0b4; padding:10px; color:black !important ">
                 Để hoàn thiện hệ thống đánh giá và phục vụ Ông/Bà được tốt hơn, kính mong Ông/Bà cho biết thêm ý kiến về Hệ thống phần mềm đánh giá của chúng tôi.
				 <br/>
				 Xin cảm ơn.
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @if (null != Model)
            {
                foreach (var item in Model)
                {
                    if (item.lsAnswers.Count == 1)
                    {
                        <div class="col-sm-10 col-lg-8  col-lg-offset-2 col-md-offset-1 form-group">
                            <label class="input-lg text_bold col-sm-3 col-lg-3">@item.Question </label>
                            <textarea class="input-lg col-sm-9 col-lg-9" id='@item.ID.ToString()gopykhac' name='@item.ID.ToString()gopykhac'></textarea>
                            <input class="idKhac" hidden="hidden" name='h_@item.ID.ToString()' value="@item.lsAnswers[0].ID" />
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-10 col-lg-8  col-lg-offset-2 col-md-offset-1 form-group">
                            <span class="input-lg text_bold">Câu @item.ID : @item.Question</span>
                        </div>
                        <div class="col-sm-10 col-lg-8  col-lg-offset-2 col-md-offset-1 form-group">
                            @foreach (var it in item.lsAnswers)
                            {
                                if (it.Type == TypeControl.Checkbox)
                                {
                                    <label class="input-lg col-sm-3 col-lg-3" style="background-color:#bac8d5;margin: 0px 5px 0 5px; height:inherit;margin-bottom:5px">
                                    <input style="width:22px;height:22px;" type="checkbox" id='@item.ID@it.ID' value="@it.ID" name='@item.ID@it.ID'> @it.Answer</label>
                                }
                                else if (it.Type == TypeControl.Textbox)
                                {
                                    var classNameLabel = "input-lg col-sm-1 col-lg-1";
                                    var classNameText = "input-lg col-sm-2 col-lg-3";
                                    var type = "text";
                                    if (it.Answer.Length > 20)
                                    {
                                        classNameLabel = "input-lg col-sm-4 col-lg-3";
                                        classNameText = "input-lg col-sm-1 col-lg-1";
                                        type = "number";
                                    }
                                    <label class="@classNameLabel" style="background-color:#bac8d5;margin: 0px 5px 0 5px;height:inherit;margin-bottom:5px">@it.Answer</label>
                                    <input class="@classNameText" type="@type" name='@item.ID.ToString()txtKhac' id='@item.ID.ToString()txtKhac' />
                                    <input class="idKhac" hidden="hidden" name='h_@item.ID.ToString()' value="@it.ID" />
                                }
                            }
                        </div>
                    }
                }
            }
            <div class="col-xs-12 col-sm-12 col-lg-8  col-lg-offset-2 col-md-offset-1 form-group">
                <label class="col-xs-3 col-lg-6"></label>
                <input id="btnGui" type="button" class="btn btn-warning col-xs-5 col-sm-2 col-lg-2" value="Gửi" />
            </div>

        </div>

    </div>
</form>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#1txtKhac").keypress(function () {
                $('input:checkbox[id^="1"]:checked').each(function () {
                    $(this).removeAttr("checked");
                });
                $('input:checkbox[id^="1"]').prop('disabled', true);
            });
            $("#1txtKhac").blur(function () {
                if (!$(this).val()) {
                    $('input:checkbox[id^="1"]').prop('disabled', false);
                }
            });
            $("#2txtKhac").keypress(function () {
                $('input:checkbox[id^="2"]:checked').each(function () {
                    $(this).removeAttr("checked");
                });
                $('input:checkbox[id^="2"]').prop('disabled', true);
            });
            $("#2txtKhac").blur(function () {
                if (!$(this).val()) {
                    $('input:checkbox[id^="2"]').prop('disabled', false);
                }
            });
            $("#3txtKhac").keypress(function () {
                $('input:checkbox[id^="3"]:checked').each(function () {
                    $(this).removeAttr("checked");
                });
                $('input:checkbox[id^="3"]').prop('disabled', true);
            });
            $("#3txtKhac").blur(function () {
                if (!$(this).val()) {
                    $('input:checkbox[id^="3"]').prop('disabled', false);
                }
            });
            $("#btnGui").click(function (ev) {
                ev.preventDefault();
                var formData = JSON.stringify(jQuery('#GopYForm').serializeArray()); // store json string
                //var formData = JSON.parse(JSON.stringify(jQuery('#frm').serializeArray())) // store json object
                var _url = '@Url.Action("SaveGopY", "GopY")';
                var data = JSON.stringify(formData);
                $.ajax({
                    url: _url,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: formData,
                    success: function (data, textStatus, xhr) {
                        window.location.href = "DanhGia";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            });
        });

    </script>
}
